.ant-form-item-explain {
    display: none;
}
.review-form label {
    font-size: 14px !important;
    opacity: 0.75;
    font-weight: 500;
    font-style: italic;
}

.review-form input {
    font-size: 15px !important;
    font-weight: 500;
}
.nonrequired-collapse:hover {
    box-shadow: none;
}
.bg {
    height: 100%;
    width: 100%;
}

.ant-btn {
    background: transparent;
}
label {
    font-weight: 600;
}
@media (max-width: 992px) {
    .head {
        justify-content: space-between;
    }
}
