* {
    padding: 0;
    margin: 0;
}

html,
body {
    background: #151515;
}
body {
    overflow-x: hidden;
    overflow-y: scroll;
}
.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    padding-top: 30px;
    gap: 30px 20px;
}

.card_price {
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
}

.card_buttons {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 20;
}

.book_modal {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card_title {
    margin-top: 20px;
    max-width: 80%;
    white-space: normal;
}

.ant-flex {
    display: flex !important;
}

.textTitle {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    box-orient: vertical;
}

.cardTitle {
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    margin-top: 8px;
    overflow: hidden;
    word-break: break-all;
    font-size: 0.875rem !important;
    font-weight: 500;
    letter-spacing: 0.0071428571em !important;
    line-height: 1.375rem;
}

.text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    line-clamp: 4;
    box-orient: vertical;
}

.calendar-card-text-drawer {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    box-orient: vertical;
}

.antd {
    backface-visibility: hidden;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    max-width: 100%;
    min-height: 100vh;
    position: relative;
}
.header {
    height: 64px;
    margin-top: 0px;
    transform: translateY(0px);
    left: 0px;
    right: 0px;
}

.grow,
.spacer {
    flex-grow: 1 !important;
}

.content {
    align-items: center;
    align-self: center;
    display: flex;
    flex: 1 1;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 12px 0;
}

.image_content {
    height: 90px;
    min-width: 40px;
    width: 64px;
    font-size: 64px;
}

:disabled {
    cursor: default !important;
}
.ant-tag {
    cursor: default;
}
.tag {
    font-size: 11;
    font-weight: 500;
}
.tag:hover {
    background-color: rgba(0, 0, 0, 0.3) !important;
}

::-webkit-scrollbar {
    background: #212121;
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background: #44a5a6;
    border-radius: 10px;
}

input,
.searchInput {
    cursor: pointer;
}

.ant-skeleton-element {
    display: grid !important;
}

@keyframes moveLine {
    from {
        background-position: 100%;
    }
    to {
        background-position: 0;
    }
}
.loading::after {
    content: "";
    height: 1.5px; /* толщина линии */
    width: 100%;
    background-image: linear-gradient(to right, #44a5a6 50%, transparent 50%);
    background-size: 200% 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: moveLine 2s linear infinite; /* скорость и повторение анимации */
}

.ant-input-affix-wrapper {
    z-index: inherit !important;
}

.container {
    padding: 20px;
    min-height: 100%;
    min-width: 100%;
}

.ant-menu-horizontal,
.ant-menu-item::after,
.ant-menu-submenu::after {
    border: none !important;
}

.searchpage-input .input-label {
    color: hsla(0, 0%, 100%, 0.7) !important;
    background-color: #151515 !important;
}

.darkTheme .emptyview {
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #44a5a6;
}

.ant-image-img {
    border-radius: 5px;
}
@media (max-width: 1200px) {
    .subtitle-tags {
        flex-wrap: wrap;
    }
}
@media (max-width: 768px) {
    .profile-header {
        justify-content: center;
        text-align: center;
    }
    .footer {
        text-align: center;
        align-items: center;
    }
}
@media (max-width: 576px) {
    .responsive-text-align {
        justify-content: center;
        text-align: center;
    }
}

@media (max-width: 1200px) {
    .anime-detail-col > .ant-space {
        justify-content: center;
    }
    .fullscreen {
        position: fixed;
    }
}
@media (max-width: 992px) {
    .dot-separator {
        display: none;
    }
    .navigation-btn > span:nth-child(2) {
        display: none;
    }
    .azList {
        display: none;
    }
    .flex-ant-image {
        flex-direction: column;
    }
    .ant-segmented-item-label > span:nth-child(2) {
        display: none;
    }
    .mylist-menu .ant-menu-title-content {
        display: none;
    }
    .anime-detail-col .ant-card-meta-title .ant-typography {
        font-size: 20px;
    }
    .ant-popover {
        display: none;
    }
    .calendar-card-title {
        font-size: 16px !important;
    }
}
.ant-collapse:hover {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03),
        0 1px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.ant-image-preview-img {
    padding: 5px;
}

.ant-card-meta-title {
    margin-bottom: 0 !important;
}
.ant-card-meta-title,
.ant-card-meta-description {
    white-space: break-spaces !important;
}
.anime-detail-col .ant-card-meta-description {
    font-style: italic;
}
.anime-detail-col .space-buttons .ant-space-item:nth-child(2) {
    width: auto;
}

.ant-menu-overflow-item {
    margin-left: auto;
}

#outer {
    overflow: hidden;
    width: 100%;
}
.ant-input-number-input {
    text-align: end !important;
    width: 40px !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.search_result .ant-card-meta-description,
.ant-card-meta-title {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}
.hidden {
    display: none;
}

div.ant-upload-list,
div.ant-upload-select,
div.ant-upload,
div.ant-upload-list-item {
    width: 60px !important;
    height: 60px !important;
}
.login-space .ant-space-item {
    flex: auto;
}

.ant-tooltip {
    max-width: max-content;
}
.title-link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
    font-weight: 600;
    vertical-align: bottom;
    margin-top: 5px;
}

.main-user-info .ant-card-head {
    position: absolute;
    right: 0;
    z-index: 1;
}

.ant-list-header {
    margin-bottom: 10px;
}

/*.ant-spin-container,
::after,
::before {
    background: transparent !important;
}*/
.sider-menu .ant-menu-item-icon {
    font-size: 20px !important;
    padding-right: 2px;
}
.sider-menu .ant-menu-item {
    font-size: 16px;
    font-weight: 600;
}

.zero-margin {
    margin: 0 !important;
}
.zero-margin-padding {
    margin: 0 !important;
    padding: 0 !important;
}
.zero-margin {
    padding: 0 !important;
}

.width-100 {
    width: 100%;
}

.height-100 {
    height: 100%;
}

.width-height-100 {
    width: 100%;
    height: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

#searchbar {
    font-weight: 500;
}

.transparent {
    background-color: transparent;
}
button[aria-hidden="true"] {
    display: none !important;
}

@keyframes star-anim {
    0% {
        transform: translateY(0);
    }

    to {
        transform: translateY(-2000px);
    }
}

.stars {
    background: transparent;
    border-radius: 50%;
    width: var(--size);
    height: var(--size);
}

.stars:after {
    content: "";
    position: absolute;
    background-color: transparent;
    top: 2000px;
    width: var(--size);
    height: var(--size);
}

.stars:nth-of-type(1) {
    --size: 1px;
    animation: star-anim 100s linear infinite;
}

.stars:nth-of-type(1),
.stars:nth-of-type(1):after {
    box-shadow: 1684px 3181px #ffffff4d, 1430px 1228px #ffffff4d,
        3295px 3267px #ffffff4d, 2832px 2360px #ffffff4d, 47px 1072px #ffffff4d,
        1382px 2745px #ffffff4d, 2640px 2696px #ffffff4d, 2327px 641px #ffffff4d,
        3340px 1410px #ffffff4d, 3133px 2303px #ffffff4d,
        2446px 2490px #ffffff4d, 363px 281px #ffffff4d, 2507px 3428px #ffffff4d,
        976px 1455px #ffffff4d, 589px 2130px #ffffff4d, 3174px 1324px #ffffff4d,
        419px 1809px #ffffff4d, 2814px 3000px #ffffff4d, 2738px 371px #ffffff4d,
        297px 1220px #ffffff4d, 2846px 1582px #ffffff4d, 342px 1935px #ffffff4d,
        3178px 1196px #ffffff4d, 2982px 2330px #ffffff4d, 669px 1822px #ffffff4d,
        2225px 736px #ffffff4d, 2624px 463px #ffffff4d, 90px 1222px #ffffff4d,
        2130px 2170px #ffffff4d, 1110px 2207px #ffffff4d,
        2305px 2660px #ffffff4d, 1154px 2924px #ffffff4d, 462px 2695px #ffffff4d,
        2206px 2326px #ffffff4d, 2475px 1933px #ffffff4d,
        1742px 2229px #ffffff4d, 1472px 1489px #ffffff4d,
        3060px 3146px #ffffff4d, 3232px 727px #ffffff4d, 1041px 1109px #ffffff4d,
        3397px 21px #ffffff4d, 3270px 3289px #ffffff4d, 1129px 1942px #ffffff4d,
        940px 2748px #ffffff4d, 1704px 423px #ffffff4d, 2371px 106px #ffffff4d,
        297px 2428px #ffffff4d, 1188px 2378px #ffffff4d, 579px 1088px #ffffff4d,
        845px 3052px #ffffff4d, 3319px 2457px #ffffff4d, 356px 397px #ffffff4d,
        1807px 1065px #ffffff4d, 2547px 104px #ffffff4d, 1720px 1490px #ffffff4d,
        3329px 1367px #ffffff4d, 645px 1465px #ffffff4d, 2995px 194px #ffffff4d,
        3002px 2744px #ffffff4d, 3337px 481px #ffffff4d, 1528px 1981px #ffffff4d,
        272px 3045px #ffffff4d, 3369px 2044px #ffffff4d, 720px 1337px #ffffff4d,
        1412px 1058px #ffffff4d, 2286px 2710px #ffffff4d, 3252px 499px #ffffff4d,
        1726px 2439px #ffffff4d, 2590px 1846px #ffffff4d,
        1289px 1470px #ffffff4d, 195px 380px #ffffff4d, 144px 260px #ffffff4d,
        398px 3118px #ffffff4d, 1280px 1490px #ffffff4d, 2442px 343px #ffffff4d,
        643px 2904px #ffffff4d, 986px 917px #ffffff4d, 98px 1958px #ffffff4d,
        2169px 2089px #ffffff4d, 3069px 908px #ffffff4d, 1401px 2925px #ffffff4d,
        207px 3155px #ffffff4d, 2619px 1131px #ffffff4d, 869px 1608px #ffffff4d,
        1368px 1204px #ffffff4d, 2940px 1592px #ffffff4d, 763px 2236px #ffffff4d,
        2402px 578px #ffffff4d, 3202px 592px #ffffff4d, 2828px 3457px #ffffff4d,
        1775px 2465px #ffffff4d, 3462px 2771px #ffffff4d,
        2431px 1889px #ffffff4d, 3035px 2684px #ffffff4d,
        2610px 2558px #ffffff4d, 1372px 1406px #ffffff4d, 2844px 197px #ffffff4d,
        2564px 2383px #ffffff4d, 2751px 2px #ffffff4d, 2318px 631px #ffffff4d,
        3122px 3396px #ffffff4d, 2729px 3290px #ffffff4d,
        3084px 1058px #ffffff4d, 2231px 2010px #ffffff4d, 1010px 847px #ffffff4d,
        1128px 456px #ffffff4d, 2019px 357px #ffffff4d, 1557px 155px #ffffff4d,
        586px 2860px #ffffff4d, 1989px 1437px #ffffff4d, 2101px 1841px #ffffff4d,
        2920px 1950px #ffffff4d, 799px 2888px #ffffff4d, 2587px 2456px #ffffff4d,
        1120px 3177px #ffffff4d, 1208px 2017px #ffffff4d,
        3206px 2753px #ffffff4d, 1679px 1620px #ffffff4d,
        3016px 1039px #ffffff4d, 3404px 3304px #ffffff4d, 44px 1763px #ffffff4d,
        1777px 2060px #ffffff4d, 2076px 914px #ffffff4d, 2478px 2944px #ffffff4d,
        1505px 557px #ffffff4d, 3018px 2571px #ffffff4d, 2617px 2952px #ffffff4d,
        935px 1719px #ffffff4d, 16px 3019px #ffffff4d, 1252px 1341px #ffffff4d,
        3219px 718px #ffffff4d, 172px 1989px #ffffff4d, 298px 448px #ffffff4d,
        3181px 3130px #ffffff4d, 1963px 407px #ffffff4d, 1917px 1898px #ffffff4d,
        3089px 2803px #ffffff4d, 3167px 2873px #ffffff4d,
        1741px 1881px #ffffff4d, 1203px 780px #ffffff4d, 1190px 1287px #ffffff4d,
        196px 818px #ffffff4d, 1059px 2481px #ffffff4d, 344px 2186px #ffffff4d,
        2300px 604px #ffffff4d, 1559px 831px #ffffff4d, 50px 314px #ffffff4d,
        3079px 132px #ffffff4d, 1685px 151px #ffffff4d, 2027px 1953px #ffffff4d,
        1596px 424px #ffffff4d, 464px 2701px #ffffff4d, 1610px 156px #ffffff4d,
        3475px 196px #ffffff4d, 1583px 2140px #ffffff4d, 662px 2433px #ffffff4d,
        2280px 3442px #ffffff4d, 488px 272px #ffffff4d, 1274px 2084px #ffffff4d,
        1356px 3426px #ffffff4d, 2642px 1986px #ffffff4d, 225px 2563px #ffffff4d,
        2940px 592px #ffffff4d, 1501px 1471px #ffffff4d, 1693px 550px #ffffff4d,
        2312px 2045px #ffffff4d, 2020px 2312px #ffffff4d, 990px 2424px #ffffff4d,
        3066px 2538px #ffffff4d, 517px 875px #ffffff4d, 1994px 3090px #ffffff4d,
        3045px 1686px #ffffff4d, 195px 1149px #ffffff4d, 812px 1011px #ffffff4d,
        3040px 1517px #ffffff4d, 3176px 3272px #ffffff4d,
        2392px 3059px #ffffff4d, 2244px 84px #ffffff4d, 1530px 32px #ffffff4d,
        2052px 3403px #ffffff4d, 725px 1272px #ffffff4d, 2617px 3080px #ffffff4d,
        624px 94px #ffffff4d, 1141px 3480px #ffffff4d, 920px 1119px #ffffff4d,
        2700px 2826px #ffffff4d, 620px 3062px #ffffff4d, 2065px 276px #ffffff4d,
        776px 2011px #ffffff4d, 2833px 2141px #ffffff4d, 2535px 2039px #ffffff4d,
        2829px 2807px #ffffff4d, 865px 3393px #ffffff4d, 1098px 35px #ffffff4d,
        2512px 96px #ffffff4d, 2672px 3275px #ffffff4d, 1419px 3287px #ffffff4d,
        85px 2931px #ffffff4d, 1309px 246px #ffffff4d, 2491px 840px #ffffff4d,
        2534px 2948px #ffffff4d, 3155px 2180px #ffffff4d, 1369px 645px #ffffff4d,
        372px 2247px #ffffff4d, 2244px 2692px #ffffff4d, 1247px 872px #ffffff4d,
        2492px 1615px #ffffff4d, 1727px 127px #ffffff4d, 2113px 555px #ffffff4d,
        3033px 2458px #ffffff4d, 1431px 1276px #ffffff4d, 898px 157px #ffffff4d,
        936px 562px #ffffff4d, 3047px 1273px #ffffff4d, 1043px 2219px #ffffff4d,
        2771px 1884px #ffffff4d, 637px 2803px #ffffff4d, 2443px 1296px #ffffff4d,
        406px 307px #ffffff4d, 1858px 3026px #ffffff4d, 1379px 2219px #ffffff4d,
        685px 684px #ffffff4d, 1180px 1945px #ffffff4d, 173px 2256px #ffffff4d,
        563px 1531px #ffffff4d, 234px 1248px #ffffff4d, 482px 907px #ffffff4d,
        25px 2878px #ffffff4d, 259px 1983px #ffffff4d, 2965px 2541px #ffffff4d,
        1050px 774px #ffffff4d, 2032px 1382px #ffffff4d, 1079px 1101px #ffffff4d,
        2736px 3134px #ffffff4d, 1429px 331px #ffffff4d, 3037px 2763px #ffffff4d,
        1402px 1635px #ffffff4d, 662px 3148px #ffffff4d, 2149px 3469px #ffffff4d,
        2493px 1430px #ffffff4d, 2633px 3191px #ffffff4d, 3402px 240px #ffffff4d,
        1073px 3387px #ffffff4d, 494px 2242px #ffffff4d, 3199px 3073px #ffffff4d,
        926px 410px #ffffff4d, 377px 2937px #ffffff4d, 670px 672px #ffffff4d,
        13px 1844px #ffffff4d, 1243px 3173px #ffffff4d, 356px 1857px #ffffff4d,
        1034px 71px #ffffff4d, 804px 1462px #ffffff4d, 442px 1819px #ffffff4d,
        1241px 1553px #ffffff4d, 2172px 1261px #ffffff4d, 801px 133px #ffffff4d,
        1756px 1063px #ffffff4d, 2634px 1879px #ffffff4d,
        2372px 1939px #ffffff4d, 54px 837px #ffffff4d, 3261px 1912px #ffffff4d,
        3305px 2577px #ffffff4d, 2507px 2910px #ffffff4d,
        3269px 1124px #ffffff4d, 968px 2361px #ffffff4d, 3468px 2498px #ffffff4d,
        3209px 325px #ffffff4d, 2964px 3276px #ffffff4d, 2887px 696px #ffffff4d,
        1950px 640px #ffffff4d, 2191px 3080px #ffffff4d, 2595px 1776px #ffffff4d,
        994px 1811px #ffffff4d, 1233px 586px #ffffff4d, 1989px 2420px #ffffff4d,
        1540px 356px #ffffff4d, 997px 1179px #ffffff4d, 1378px 1290px #ffffff4d,
        312px 1278px #ffffff4d, 2095px 3020px #ffffff4d, 253px 403px #ffffff4d,
        2109px 1924px #ffffff4d, 183px 1492px #ffffff4d, 1302px 1071px #ffffff4d,
        408px 1304px #ffffff4d, 3373px 591px #ffffff4d, 2976px 1705px #ffffff4d,
        3095px 1176px #ffffff4d, 2180px 270px #ffffff4d, 2665px 348px #ffffff4d,
        3171px 800px #ffffff4d, 3152px 3296px #ffffff4d, 1792px 1747px #ffffff4d,
        3210px 1462px #ffffff4d, 2000px 1250px #ffffff4d,
        2961px 3009px #ffffff4d, 944px 3428px #ffffff4d, 3270px 1874px #ffffff4d,
        2129px 1788px #ffffff4d, 2744px 3351px #ffffff4d, 1147px 808px #ffffff4d,
        720px 3154px #ffffff4d, 651px 1380px #ffffff4d, 3082px 2674px #ffffff4d,
        2719px 1102px #ffffff4d, 2057px 1639px #ffffff4d, 2564px 753px #ffffff4d,
        1268px 1188px #ffffff4d, 597px 448px #ffffff4d, 183px 591px #ffffff4d,
        2545px 1058px #ffffff4d, 709px 2834px #ffffff4d, 787px 2120px #ffffff4d,
        576px 1201px #ffffff4d, 2515px 2761px #ffffff4d, 960px 799px #ffffff4d,
        169px 2817px #ffffff4d, 1980px 735px #ffffff4d, 3223px 1267px #ffffff4d,
        883px 571px #ffffff4d, 2959px 3236px #ffffff4d, 3452px 337px #ffffff4d,
        1299px 742px #ffffff4d, 1078px 1796px #ffffff4d, 469px 2836px #ffffff4d,
        3355px 1968px #ffffff4d, 998px 2468px #ffffff4d, 2074px 1209px #ffffff4d,
        1240px 925px #ffffff4d, 2411px 270px #ffffff4d, 1564px 998px #ffffff4d,
        2469px 2194px #ffffff4d, 3265px 2487px #ffffff4d,
        3390px 2860px #ffffff4d, 2857px 3309px #ffffff4d, 727px 3279px #ffffff4d,
        547px 1736px #ffffff4d, 562px 1376px #ffffff4d, 2418px 1959px #ffffff4d,
        3225px 1491px #ffffff4d, 2463px 1036px #ffffff4d,
        3004px 1382px #ffffff4d, 2194px 1486px #ffffff4d, 321px 1449px #ffffff4d,
        2411px 224px #ffffff4d, 2674px 322px #ffffff4d, 1895px 2758px #ffffff4d,
        533px 2488px #ffffff4d, 1234px 863px #ffffff4d, 387px 233px #ffffff4d,
        206px 3334px #ffffff4d, 190px 947px #ffffff4d, 918px 353px #ffffff4d,
        3275px 1707px #ffffff4d, 2922px 2215px #ffffff4d, 167px 70px #ffffff4d,
        442px 2014px #ffffff4d, 97px 2661px #ffffff4d, 1631px 1044px #ffffff4d,
        2424px 743px #ffffff4d, 3486px 1168px #ffffff4d, 2109px 908px #ffffff4d,
        865px 3073px #ffffff4d, 1225px 1373px #ffffff4d, 3330px 1381px #ffffff4d,
        3118px 218px #ffffff4d, 3216px 1496px #ffffff4d, 2792px 2438px #ffffff4d,
        734px 1567px #ffffff4d, 199px 373px #ffffff4d, 2079px 1932px #ffffff4d,
        154px 2502px #ffffff4d, 1605px 2383px #ffffff4d, 2323px 1220px #ffffff4d,
        245px 1718px #ffffff4d, 308px 163px #ffffff4d, 819px 509px #ffffff4d,
        1099px 3276px #ffffff4d, 1646px 1497px #ffffff4d,
        2963px 1503px #ffffff4d, 3049px 192px #ffffff4d, 3360px 1573px #ffffff4d,
        2237px 2533px #ffffff4d, 1503px 739px #ffffff4d, 2237px 1144px #ffffff4d,
        2543px 194px #ffffff4d, 1030px 296px #ffffff4d, 1993px 1657px #ffffff4d,
        1800px 1641px #ffffff4d, 1051px 2832px #ffffff4d, 388px 2579px #ffffff4d,
        2975px 931px #ffffff4d, 1938px 504px #ffffff4d, 926px 734px #ffffff4d,
        1971px 2279px #ffffff4d, 3338px 2532px #ffffff4d,
        2102px 1722px #ffffff4d, 596px 25px #ffffff4d, 1304px 588px #ffffff4d,
        2439px 254px #ffffff4d, 1839px 787px #ffffff4d, 1032px 141px #ffffff4d,
        2197px 1748px #ffffff4d, 3101px 5px #ffffff4d, 3010px 415px #ffffff4d,
        2896px 1280px #ffffff4d, 3203px 2407px #ffffff4d, 1502px 583px #ffffff4d,
        1538px 936px #ffffff4d, 9px 973px #ffffff4d, 89px 2620px #ffffff4d,
        2265px 2238px #ffffff4d, 3030px 2929px #ffffff4d,
        1838px 1766px #ffffff4d, 2756px 2555px #ffffff4d, 768px 1054px #ffffff4d,
        845px 915px #ffffff4d, 2528px 2369px #ffffff4d, 1135px 1764px #ffffff4d,
        434px 2804px #ffffff4d, 684px 649px #ffffff4d, 3484px 1412px #ffffff4d,
        1978px 3322px #ffffff4d, 1455px 737px #ffffff4d, 2775px 2091px #ffffff4d,
        1539px 356px #ffffff4d, 1301px 2536px #ffffff4d, 3025px 1114px #ffffff4d,
        2937px 1725px #ffffff4d, 2426px 2696px #ffffff4d,
        1192px 1499px #ffffff4d, 768px 904px #ffffff4d, 2090px 3440px #ffffff4d,
        602px 2710px #ffffff4d, 989px 2027px #ffffff4d, 2532px 1569px #ffffff4d,
        538px 1213px #ffffff4d, 158px 3312px #ffffff4d, 550px 2072px #ffffff4d,
        2547px 1136px #ffffff4d, 2169px 2507px #ffffff4d,
        1390px 1692px #ffffff4d, 2839px 3183px #ffffff4d, 420px 3421px #ffffff4d,
        1784px 651px #ffffff4d, 226px 1496px #ffffff4d, 2143px 86px #ffffff4d,
        2337px 1669px #ffffff4d, 854px 2089px #ffffff4d, 1149px 1937px #ffffff4d,
        1150px 3259px #ffffff4d, 1745px 3123px #ffffff4d, 1134px 935px #ffffff4d,
        2258px 2772px #ffffff4d, 1028px 1503px #ffffff4d,
        1253px 1698px #ffffff4d, 571px 2583px #ffffff4d, 1893px 1953px #ffffff4d,
        1604px 2085px #ffffff4d, 2508px 3444px #ffffff4d, 2017px 110px #ffffff4d,
        2718px 2461px #ffffff4d, 1953px 677px #ffffff4d, 643px 663px #ffffff4d,
        3048px 667px #ffffff4d, 3286px 3348px #ffffff4d, 2588px 907px #ffffff4d,
        90px 355px #ffffff4d, 1028px 1768px #ffffff4d, 1623px 3206px #ffffff4d,
        2441px 1592px #ffffff4d, 2565px 1886px #ffffff4d,
        2494px 2593px #ffffff4d, 937px 300px #ffffff4d, 2754px 1570px #ffffff4d,
        3012px 2559px #ffffff4d, 2654px 2031px #ffffff4d, 112px 2888px #ffffff4d,
        301px 1213px #ffffff4d, 228px 785px #ffffff4d, 2786px 1596px #ffffff4d,
        1630px 890px #ffffff4d, 538px 630px #ffffff4d, 2795px 1247px #ffffff4d,
        2027px 2749px #ffffff4d, 567px 1396px #ffffff4d, 715px 845px #ffffff4d,
        844px 2693px #ffffff4d, 312px 2514px #ffffff4d, 2148px 3463px #ffffff4d,
        3139px 2106px #ffffff4d, 595px 123px #ffffff4d, 209px 521px #ffffff4d,
        551px 408px #ffffff4d, 1640px 805px #ffffff4d, 292px 993px #ffffff4d,
        141px 2757px #ffffff4d, 70px 1364px #ffffff4d, 3101px 2946px #ffffff4d,
        472px 2597px #ffffff4d, 2719px 2410px #ffffff4d, 1747px 1106px #ffffff4d,
        2979px 2567px #ffffff4d, 2299px 802px #ffffff4d, 2933px 1517px #ffffff4d,
        183px 1152px #ffffff4d, 3444px 2021px #ffffff4d, 1040px 144px #ffffff4d,
        3164px 2019px #ffffff4d, 1330px 1753px #ffffff4d, 1427px 378px #ffffff4d,
        2356px 2015px #ffffff4d, 550px 1239px #ffffff4d, 3121px 1393px #ffffff4d,
        2445px 2965px #ffffff4d, 751px 2523px #ffffff4d, 502px 1955px #ffffff4d,
        679px 3126px #ffffff4d, 371px 2440px #ffffff4d, 2492px 2250px #ffffff4d,
        879px 1013px #ffffff4d, 223px 1086px #ffffff4d, 1002px 394px #ffffff4d,
        2170px 1706px #ffffff4d, 1111px 3018px #ffffff4d,
        2628px 3079px #ffffff4d, 3454px 847px #ffffff4d, 3007px 1819px #ffffff4d,
        2127px 2373px #ffffff4d, 2587px 2109px #ffffff4d,
        1108px 2356px #ffffff4d, 2332px 1370px #ffffff4d,
        2708px 3027px #ffffff4d, 3211px 76px #ffffff4d, 2682px 20px #ffffff4d,
        960px 1971px #ffffff4d, 1519px 1001px #ffffff4d, 2372px 3074px #ffffff4d,
        2200px 339px #ffffff4d, 3100px 2269px #ffffff4d, 59px 2531px #ffffff4d,
        2555px 1309px #ffffff4d, 2378px 1854px #ffffff4d,
        1155px 1297px #ffffff4d, 2732px 3235px #ffffff4d, 619px 1846px #ffffff4d,
        1269px 3156px #ffffff4d, 3130px 2724px #ffffff4d, 1309px 726px #ffffff4d,
        1334px 523px #ffffff4d, 3155px 206px #ffffff4d, 1389px 642px #ffffff4d,
        2569px 1240px #ffffff4d, 2806px 1708px #ffffff4d, 1393px 778px #ffffff4d,
        2970px 2578px #ffffff4d, 364px 2572px #ffffff4d, 2759px 790px #ffffff4d,
        851px 766px #ffffff4d, 607px 3174px #ffffff4d, 612px 3462px #ffffff4d,
        2073px 1771px #ffffff4d, 3335px 1355px #ffffff4d, 3126px 730px #ffffff4d,
        2465px 197px #ffffff4d, 2441px 2964px #ffffff4d, 350px 299px #ffffff4d,
        342px 3216px #ffffff4d, 2446px 2976px #ffffff4d, 1097px 2253px #ffffff4d,
        688px 3066px #ffffff4d, 1135px 2115px #ffffff4d, 1045px 2000px #ffffff4d,
        2452px 1077px #ffffff4d, 548px 1934px #ffffff4d, 74px 3082px #ffffff4d,
        1072px 1820px #ffffff4d, 2885px 536px #ffffff4d, 2608px 1581px #ffffff4d,
        1293px 1193px #ffffff4d, 652px 634px #ffffff4d, 2996px 3335px #ffffff4d,
        1911px 1718px #ffffff4d, 13px 2689px #ffffff4d, 1127px 2764px #ffffff4d,
        2506px 523px #ffffff4d, 1654px 2037px #ffffff4d, 3255px 140px #ffffff4d,
        818px 3006px #ffffff4d, 1643px 1279px #ffffff4d, 2930px 1973px #ffffff4d,
        2948px 2578px #ffffff4d, 1626px 2195px #ffffff4d, 1523px 435px #ffffff4d,
        588px 1712px #ffffff4d, 2468px 844px #ffffff4d, 2811px 695px #ffffff4d,
        2645px 3462px #ffffff4d, 1515px 1726px #ffffff4d, 1847px 68px #ffffff4d,
        1866px 3486px #ffffff4d, 2127px 2595px #ffffff4d, 532px 462px #ffffff4d,
        3035px 3214px #ffffff4d, 1967px 2647px #ffffff4d,
        2768px 3146px #ffffff4d, 1173px 267px #ffffff4d, 1831px 314px #ffffff4d,
        3294px 2280px #ffffff4d, 2262px 1669px #ffffff4d,
        1983px 1084px #ffffff4d, 3479px 2025px #ffffff4d, 72px 765px #ffffff4d,
        3224px 20px #ffffff4d, 2183px 23px #ffffff4d, 1579px 2326px #ffffff4d,
        2861px 323px #ffffff4d, 3327px 12px #ffffff4d, 2993px 2514px #ffffff4d,
        2115px 629px #ffffff4d, 269px 1326px #ffffff4d, 3364px 3422px #ffffff4d,
        1175px 2040px #ffffff4d, 3075px 199px #ffffff4d, 92px 111px #ffffff4d,
        1605px 799px #ffffff4d, 2962px 3293px #ffffff4d, 2320px 2094px #ffffff4d,
        1866px 704px #ffffff4d, 332px 3191px #ffffff4d, 64px 2691px #ffffff4d,
        3128px 2474px #ffffff4d, 1999px 3076px #ffffff4d, 2771px 6px #ffffff4d,
        2203px 3122px #ffffff4d, 2293px 1282px #ffffff4d,
        2629px 1712px #ffffff4d, 181px 2048px #ffffff4d, 1219px 282px #ffffff4d,
        2046px 2853px #ffffff4d, 1481px 2167px #ffffff4d, 1120px 64px #ffffff4d,
        950px 200px #ffffff4d, 2191px 568px #ffffff4d, 3268px 3477px #ffffff4d,
        1881px 2162px #ffffff4d, 3037px 748px #ffffff4d, 2655px 2806px #ffffff4d,
        3139px 3307px #ffffff4d, 2661px 1966px #ffffff4d,
        2442px 1479px #ffffff4d, 865px 2418px #ffffff4d, 1131px 1104px #ffffff4d,
        664px 3059px #ffffff4d, 1439px 397px #ffffff4d, 1030px 3497px #ffffff4d,
        2715px 1150px #ffffff4d, 191px 1742px #ffffff4d, 100px 1206px #ffffff4d,
        3379px 416px #ffffff4d, 2810px 663px #ffffff4d, 1537px 1918px #ffffff4d,
        719px 2132px #ffffff4d, 3448px 448px #ffffff4d, 3147px 955px #ffffff4d,
        124px 3117px #ffffff4d, 1351px 915px #ffffff4d, 3068px 3338px #ffffff4d,
        3047px 2854px #ffffff4d, 2750px 3410px #ffffff4d, 861px 2983px #ffffff4d,
        1248px 3046px #ffffff4d, 2011px 339px #ffffff4d, 2570px 2322px #ffffff4d,
        1928px 2810px #ffffff4d, 1424px 3037px #ffffff4d,
        1523px 2545px #ffffff4d, 1724px 2584px #ffffff4d, 653px 2877px #ffffff4d,
        1089px 2847px #ffffff4d, 3426px 2239px #ffffff4d,
        1622px 1150px #ffffff4d, 2233px 2342px #ffffff4d, 2230px 795px #ffffff4d,
        440px 1668px #ffffff4d, 571px 2841px #ffffff4d, 28px 3010px #ffffff4d,
        1099px 1638px #ffffff4d, 539px 2064px #ffffff4d, 2574px 1117px #ffffff4d,
        2851px 2685px #ffffff4d, 3495px 629px #ffffff4d, 255px 238px #ffffff4d,
        2683px 2642px #ffffff4d, 1821px 1188px #ffffff4d, 395px 1534px #ffffff4d,
        2969px 3252px #ffffff4d, 2144px 1016px #ffffff4d,
        1875px 3107px #ffffff4d, 1272px 497px #ffffff4d, 1491px 2977px #ffffff4d,
        3129px 834px #ffffff4d, 836px 583px #ffffff4d, 1284px 2219px #ffffff4d,
        715px 2021px #ffffff4d, 2775px 3450px #ffffff4d, 1591px 2560px #ffffff4d,
        2909px 617px #ffffff4d, 3009px 1838px #ffffff4d, 222px 2019px #ffffff4d,
        184px 765px #ffffff4d, 3250px 1230px #ffffff4d, 214px 2773px #ffffff4d,
        2044px 3215px #ffffff4d, 92px 2765px #ffffff4d, 2222px 2779px #ffffff4d,
        2641px 544px #ffffff4d, 1976px 1139px #ffffff4d, 1329px 1067px #ffffff4d,
        3232px 2712px #ffffff4d, 1809px 1196px #ffffff4d,
        1535px 1271px #ffffff4d, 627px 1635px #ffffff4d, 1690px 488px #ffffff4d,
        2753px 1888px #ffffff4d, 2487px 2299px #ffffff4d, 56px 786px #ffffff4d,
        1226px 518px #ffffff4d, 352px 2803px #ffffff4d, 2417px 552px #ffffff4d,
        2853px 1382px #ffffff4d, 1391px 3451px #ffffff4d,
        2531px 2147px #ffffff4d, 1956px 1517px #ffffff4d, 2407px 652px #ffffff4d,
        35px 2329px #ffffff4d, 25px 3047px #ffffff4d, 735px 1936px #ffffff4d,
        2586px 2078px #ffffff4d, 2134px 2160px #ffffff4d,
        1609px 2573px #ffffff4d, 1823px 3311px #ffffff4d,
        2153px 2105px #ffffff4d, 662px 451px #ffffff4d, 1698px 1458px #ffffff4d,
        1581px 1514px #ffffff4d, 2247px 3296px #ffffff4d,
        1037px 2804px #ffffff4d, 820px 1567px #ffffff4d, 716px 434px #ffffff4d,
        1852px 173px #ffffff4d, 151px 2252px #ffffff4d, 978px 2339px #ffffff4d,
        3px 104px #ffffff4d, 3221px 275px #ffffff4d, 2040px 484px #ffffff4d,
        2088px 2710px #ffffff4d, 2767px 311px #ffffff4d, 2519px 3056px #ffffff4d,
        3016px 3025px #ffffff4d, 3162px 447px #ffffff4d, 260px 3047px #ffffff4d,
        1532px 625px #ffffff4d, 175px 1472px #ffffff4d, 2367px 12px #ffffff4d,
        2088px 2867px #ffffff4d, 1787px 3217px #ffffff4d, 167px 1444px #ffffff4d,
        2729px 296px #ffffff4d, 983px 2755px #ffffff4d, 978px 451px #ffffff4d,
        570px 2726px #ffffff4d, 2081px 3242px #ffffff4d, 1929px 2977px #ffffff4d,
        1334px 2709px #ffffff4d, 2494px 984px #ffffff4d, 3006px 1022px #ffffff4d,
        217px 2971px #ffffff4d, 2034px 754px #ffffff4d, 3472px 3281px #ffffff4d,
        3099px 1347px #ffffff4d, 731px 1377px #ffffff4d, 2764px 392px #ffffff4d,
        277px 538px #ffffff4d, 2271px 3456px #ffffff4d, 1928px 533px #ffffff4d,
        3335px 2114px #ffffff4d, 369px 913px #ffffff4d, 1276px 118px #ffffff4d,
        3232px 555px #ffffff4d, 2153px 235px #ffffff4d, 647px 774px #ffffff4d,
        405px 3359px #ffffff4d, 496px 2750px #ffffff4d, 3413px 21px #ffffff4d,
        1529px 2234px #ffffff4d, 2286px 1076px #ffffff4d,
        1176px 2140px #ffffff4d, 2562px 3240px #ffffff4d;
}

.stars:nth-of-type(2) {
    --size: 2px;
    animation: star-anim 75s linear infinite;
}

.stars:nth-of-type(2),
.stars:nth-of-type(2):after {
    box-shadow: 1200px 1225px #ffffff4d, 2834px 950px #ffffff4d,
        3085px 2907px #ffffff4d, 3454px 1020px #ffffff4d, 2684px 620px #ffffff4d,
        762px 2527px #ffffff4d, 7px 3424px #ffffff4d, 2980px 2399px #ffffff4d,
        1454px 1033px #ffffff4d, 1808px 895px #ffffff4d, 2129px 3158px #ffffff4d,
        1809px 3347px #ffffff4d, 1765px 2582px #ffffff4d,
        3286px 2831px #ffffff4d, 223px 1920px #ffffff4d, 343px 1314px #ffffff4d,
        818px 733px #ffffff4d, 3032px 3189px #ffffff4d, 1496px 1770px #ffffff4d,
        919px 229px #ffffff4d, 797px 266px #ffffff4d, 3134px 1035px #ffffff4d,
        2774px 1442px #ffffff4d, 2671px 1613px #ffffff4d, 3322px 699px #ffffff4d,
        338px 1568px #ffffff4d, 347px 3305px #ffffff4d, 2449px 2216px #ffffff4d,
        900px 3088px #ffffff4d, 940px 3169px #ffffff4d, 2391px 2178px #ffffff4d,
        2480px 1561px #ffffff4d, 1746px 996px #ffffff4d, 1402px 2222px #ffffff4d,
        927px 3298px #ffffff4d, 1797px 2100px #ffffff4d, 1705px 1446px #ffffff4d,
        561px 321px #ffffff4d, 2960px 2898px #ffffff4d, 1532px 2236px #ffffff4d,
        570px 3345px #ffffff4d, 1946px 828px #ffffff4d, 1212px 293px #ffffff4d,
        686px 1108px #ffffff4d, 3005px 1489px #ffffff4d, 529px 3211px #ffffff4d,
        2246px 2704px #ffffff4d, 2592px 2880px #ffffff4d,
        2009px 1005px #ffffff4d, 566px 1170px #ffffff4d, 2805px 3391px #ffffff4d,
        913px 1428px #ffffff4d, 3113px 1855px #ffffff4d, 3426px 2091px #ffffff4d,
        3221px 1609px #ffffff4d, 3255px 2884px #ffffff4d,
        2646px 1692px #ffffff4d, 2717px 1013px #ffffff4d, 923px 723px #ffffff4d,
        202px 322px #ffffff4d, 2511px 2907px #ffffff4d, 1771px 851px #ffffff4d,
        211px 103px #ffffff4d, 1175px 2552px #ffffff4d, 1071px 1379px #ffffff4d,
        376px 1054px #ffffff4d, 834px 590px #ffffff4d, 855px 531px #ffffff4d,
        1396px 2765px #ffffff4d, 2151px 2784px #ffffff4d,
        3197px 3028px #ffffff4d, 565px 814px #ffffff4d, 509px 16px #ffffff4d,
        72px 531px #ffffff4d, 3402px 1511px #ffffff4d, 175px 1040px #ffffff4d,
        246px 3238px #ffffff4d, 1049px 3369px #ffffff4d, 2555px 1965px #ffffff4d,
        3495px 2580px #ffffff4d, 1994px 3313px #ffffff4d, 132px 648px #ffffff4d,
        1053px 2580px #ffffff4d, 1869px 2120px #ffffff4d,
        1513px 1189px #ffffff4d, 1782px 882px #ffffff4d, 3052px 2955px #ffffff4d,
        2109px 1864px #ffffff4d, 3478px 2936px #ffffff4d,
        1729px 2283px #ffffff4d, 680px 2327px #ffffff4d, 172px 3373px #ffffff4d,
        3269px 1894px #ffffff4d, 2953px 3333px #ffffff4d, 184px 1940px #ffffff4d,
        2119px 1188px #ffffff4d, 588px 2760px #ffffff4d, 923px 2203px #ffffff4d,
        2208px 2717px #ffffff4d, 1091px 2435px #ffffff4d, 2106px 528px #ffffff4d,
        2669px 2448px #ffffff4d, 3322px 1580px #ffffff4d, 539px 13px #ffffff4d,
        2013px 922px #ffffff4d, 807px 950px #ffffff4d, 2464px 2768px #ffffff4d,
        625px 1772px #ffffff4d, 1436px 922px #ffffff4d, 3024px 775px #ffffff4d,
        23px 2811px #ffffff4d, 3191px 471px #ffffff4d, 3361px 605px #ffffff4d,
        157px 1529px #ffffff4d, 2152px 833px #ffffff4d, 2798px 3125px #ffffff4d,
        3119px 1981px #ffffff4d, 2043px 1691px #ffffff4d,
        1947px 1401px #ffffff4d, 3038px 2143px #ffffff4d, 256px 136px #ffffff4d,
        1523px 2978px #ffffff4d, 1091px 1455px #ffffff4d,
        2457px 1544px #ffffff4d, 2906px 1988px #ffffff4d, 199px 1655px #ffffff4d,
        1048px 1850px #ffffff4d, 1348px 3444px #ffffff4d, 825px 748px #ffffff4d,
        3180px 3386px #ffffff4d, 2177px 101px #ffffff4d, 417px 324px #ffffff4d,
        3202px 2333px #ffffff4d, 2314px 1120px #ffffff4d,
        2489px 2584px #ffffff4d, 99px 1724px #ffffff4d, 2090px 2514px #ffffff4d,
        2114px 1720px #ffffff4d, 2012px 1574px #ffffff4d, 1131px 543px #ffffff4d,
        3403px 3006px #ffffff4d, 1387px 3335px #ffffff4d,
        1893px 1133px #ffffff4d, 1763px 84px #ffffff4d, 1894px 3118px #ffffff4d,
        2384px 881px #ffffff4d, 1277px 1848px #ffffff4d, 2342px 3475px #ffffff4d,
        2598px 1486px #ffffff4d, 756px 1750px #ffffff4d, 1470px 3106px #ffffff4d,
        53px 2331px #ffffff4d, 3108px 3127px #ffffff4d, 1926px 3430px #ffffff4d,
        1043px 157px #ffffff4d, 2455px 980px #ffffff4d, 291px 1642px #ffffff4d,
        588px 1503px #ffffff4d, 3392px 2646px #ffffff4d, 2817px 1505px #ffffff4d,
        2766px 1141px #ffffff4d, 3233px 1642px #ffffff4d,
        1017px 3123px #ffffff4d, 3454px 1901px #ffffff4d, 2325px 383px #ffffff4d,
        1733px 3258px #ffffff4d, 1665px 192px #ffffff4d, 870px 1885px #ffffff4d,
        3118px 3449px #ffffff4d, 176px 1886px #ffffff4d, 281px 2508px #ffffff4d,
        1479px 2347px #ffffff4d, 669px 1323px #ffffff4d, 3226px 2289px #ffffff4d,
        2546px 1890px #ffffff4d, 54px 1750px #ffffff4d, 3299px 2025px #ffffff4d,
        1877px 184px #ffffff4d, 2806px 395px #ffffff4d, 991px 1444px #ffffff4d,
        1785px 454px #ffffff4d, 443px 2306px #ffffff4d, 1840px 35px #ffffff4d,
        3435px 1424px #ffffff4d, 227px 354px #ffffff4d, 1817px 1322px #ffffff4d,
        2971px 2505px #ffffff4d, 1127px 1380px #ffffff4d, 227px 3238px #ffffff4d,
        1037px 2223px #ffffff4d, 1865px 2492px #ffffff4d,
        2800px 1329px #ffffff4d, 2632px 2473px #ffffff4d,
        3277px 1178px #ffffff4d, 3187px 2759px #ffffff4d,
        1365px 2110px #ffffff4d, 448px 1526px #ffffff4d, 2841px 291px #ffffff4d,
        499px 1813px #ffffff4d, 1626px 630px #ffffff4d, 53px 1871px #ffffff4d,
        1381px 2167px #ffffff4d, 2850px 1862px #ffffff4d,
        3269px 2975px #ffffff4d, 3133px 1086px #ffffff4d,
        1239px 2570px #ffffff4d, 3266px 1567px #ffffff4d,
        3398px 2428px #ffffff4d, 180px 1366px #ffffff4d, 3202px 1850px #ffffff4d,
        2121px 2301px #ffffff4d, 1098px 509px #ffffff4d, 2810px 2309px #ffffff4d,
        2344px 1746px #ffffff4d, 3146px 3043px #ffffff4d, 2781px 983px #ffffff4d,
        1852px 909px #ffffff4d, 255px 22px #ffffff4d, 2493px 1888px #ffffff4d,
        3374px 988px #ffffff4d, 1385px 1614px #ffffff4d, 1083px 1843px #ffffff4d,
        3248px 138px #ffffff4d, 138px 2598px #ffffff4d, 1650px 898px #ffffff4d,
        810px 980px #ffffff4d, 2834px 1658px #ffffff4d, 3028px 1131px #ffffff4d,
        347px 790px #ffffff4d, 2188px 1835px #ffffff4d, 2005px 1861px #ffffff4d,
        796px 3285px #ffffff4d, 1822px 1443px #ffffff4d, 3295px 3037px #ffffff4d,
        870px 923px #ffffff4d, 766px 2138px #ffffff4d, 3048px 2312px #ffffff4d,
        1855px 371px #ffffff4d, 2655px 416px #ffffff4d, 2669px 3263px #ffffff4d,
        1634px 2234px #ffffff4d, 15px 2230px #ffffff4d, 3497px 1293px #ffffff4d,
        2182px 2667px #ffffff4d, 3365px 1530px #ffffff4d, 2268px 788px #ffffff4d,
        2778px 2963px #ffffff4d, 1138px 94px #ffffff4d, 850px 1505px #ffffff4d,
        1205px 1857px #ffffff4d, 3482px 862px #ffffff4d, 2824px 528px #ffffff4d,
        1229px 876px #ffffff4d, 892px 945px #ffffff4d, 304px 1274px #ffffff4d,
        2474px 1359px #ffffff4d, 919px 2983px #ffffff4d, 1182px 77px #ffffff4d,
        3466px 3115px #ffffff4d, 127px 305px #ffffff4d, 650px 1643px #ffffff4d,
        2713px 1251px #ffffff4d, 1793px 2626px #ffffff4d,
        1218px 2649px #ffffff4d, 3219px 2601px #ffffff4d, 709px 2966px #ffffff4d,
        397px 2712px #ffffff4d, 1371px 835px #ffffff4d, 2585px 2294px #ffffff4d,
        2778px 2841px #ffffff4d, 9px 1243px #ffffff4d, 2155px 3487px #ffffff4d,
        301px 1180px #ffffff4d, 678px 2158px #ffffff4d, 2373px 1775px #ffffff4d,
        1406px 3016px #ffffff4d, 1684px 1933px #ffffff4d,
        3248px 2919px #ffffff4d, 3153px 3203px #ffffff4d, 1510px 109px #ffffff4d,
        3412px 1933px #ffffff4d, 2975px 953px #ffffff4d, 3054px 1745px #ffffff4d,
        1274px 2099px #ffffff4d, 3281px 658px #ffffff4d, 2481px 2969px #ffffff4d,
        1825px 2130px #ffffff4d, 2484px 2685px #ffffff4d,
        2744px 1327px #ffffff4d, 1863px 2149px #ffffff4d, 3316px 721px #ffffff4d,
        2743px 1010px #ffffff4d, 942px 2643px #ffffff4d, 35px 1013px #ffffff4d,
        3315px 2418px #ffffff4d, 3106px 773px #ffffff4d, 1587px 2903px #ffffff4d,
        3311px 978px #ffffff4d, 2298px 1852px #ffffff4d, 2766px 2445px #ffffff4d;
}

.stars:nth-of-type(3) {
    --size: 3px;
    animation: star-anim 50s linear infinite;
}

.stars:nth-of-type(3),
.stars:nth-of-type(3):after {
    box-shadow: 1486px 1731px #ffffff4d, 81px 1159px #ffffff4d,
        1855px 133px #ffffff4d, 1683px 1026px #ffffff4d, 304px 3366px #ffffff4d,
        681px 2057px #ffffff4d, 1370px 2150px #ffffff4d, 1675px 373px #ffffff4d,
        2180px 1501px #ffffff4d, 1303px 429px #ffffff4d, 818px 1873px #ffffff4d,
        69px 154px #ffffff4d, 2734px 1830px #ffffff4d, 1951px 1772px #ffffff4d,
        2610px 367px #ffffff4d, 3170px 3025px #ffffff4d, 1986px 1519px #ffffff4d,
        619px 3146px #ffffff4d, 1283px 3124px #ffffff4d, 2486px 1812px #ffffff4d,
        2168px 3220px #ffffff4d, 1936px 2873px #ffffff4d,
        1947px 2211px #ffffff4d, 3099px 1982px #ffffff4d,
        1140px 2323px #ffffff4d, 1796px 2855px #ffffff4d, 2030px 113px #ffffff4d,
        2846px 2999px #ffffff4d, 549px 3242px #ffffff4d, 159px 2802px #ffffff4d,
        561px 2739px #ffffff4d, 2153px 1696px #ffffff4d, 2751px 70px #ffffff4d,
        725px 3379px #ffffff4d, 544px 3125px #ffffff4d, 1220px 1924px #ffffff4d,
        3427px 2759px #ffffff4d, 1513px 517px #ffffff4d, 2578px 2911px #ffffff4d,
        2367px 2121px #ffffff4d, 1155px 562px #ffffff4d, 2029px 2498px #ffffff4d,
        2886px 3396px #ffffff4d, 430px 3074px #ffffff4d, 1567px 1129px #ffffff4d,
        2522px 307px #ffffff4d, 2844px 2688px #ffffff4d, 2854px 1838px #ffffff4d,
        1825px 2897px #ffffff4d, 3071px 3363px #ffffff4d,
        2241px 2732px #ffffff4d, 3442px 2253px #ffffff4d, 32px 2479px #ffffff4d,
        1451px 80px #ffffff4d, 2829px 2649px #ffffff4d, 1662px 778px #ffffff4d,
        1699px 353px #ffffff4d, 1855px 1490px #ffffff4d, 212px 311px #ffffff4d,
        2244px 822px #ffffff4d, 102px 2597px #ffffff4d, 2747px 382px #ffffff4d,
        1643px 746px #ffffff4d, 1566px 1026px #ffffff4d, 3460px 250px #ffffff4d,
        2035px 646px #ffffff4d, 2422px 306px #ffffff4d, 1211px 2573px #ffffff4d,
        709px 1241px #ffffff4d, 366px 1592px #ffffff4d, 900px 414px #ffffff4d,
        1636px 2487px #ffffff4d, 1662px 2832px #ffffff4d,
        2989px 2091px #ffffff4d, 294px 176px #ffffff4d, 2671px 1159px #ffffff4d,
        786px 2369px #ffffff4d, 3393px 112px #ffffff4d, 1734px 3041px #ffffff4d,
        2924px 1231px #ffffff4d, 1429px 1765px #ffffff4d,
        3294px 3221px #ffffff4d, 865px 2855px #ffffff4d, 2909px 3457px #ffffff4d,
        1928px 1035px #ffffff4d, 866px 1644px #ffffff4d, 3049px 1830px #ffffff4d,
        1281px 2484px #ffffff4d, 2325px 3495px #ffffff4d, 789px 470px #ffffff4d,
        1062px 3148px #ffffff4d, 2075px 1895px #ffffff4d,
        3191px 2182px #ffffff4d, 2284px 2907px #ffffff4d,
        3437px 2171px #ffffff4d, 2047px 1097px #ffffff4d,
        1746px 1006px #ffffff4d, 836px 3389px #ffffff4d, 2588px 3137px #ffffff4d,
        2996px 2566px #ffffff4d, 2200px 2637px #ffffff4d,
        1409px 3452px #ffffff4d, 605px 2775px #ffffff4d, 573px 1518px #ffffff4d,
        2732px 745px #ffffff4d, 732px 1578px #ffffff4d, 3150px 159px #ffffff4d,
        2962px 3422px #ffffff4d, 854px 734px #ffffff4d, 693px 2036px #ffffff4d,
        861px 360px #ffffff4d, 3465px 1998px #ffffff4d, 2690px 1387px #ffffff4d,
        1014px 2440px #ffffff4d, 1347px 464px #ffffff4d, 3225px 296px #ffffff4d,
        1039px 413px #ffffff4d, 944px 716px #ffffff4d, 637px 2853px #ffffff4d,
        1277px 1906px #ffffff4d, 2471px 607px #ffffff4d, 1294px 2254px #ffffff4d,
        1253px 2277px #ffffff4d, 2109px 1586px #ffffff4d,
        1388px 3183px #ffffff4d, 1361px 2904px #ffffff4d, 1822px 193px #ffffff4d,
        401px 2929px #ffffff4d, 556px 213px #ffffff4d, 377px 1726px #ffffff4d,
        1178px 2040px #ffffff4d, 2687px 420px #ffffff4d, 3476px 3214px #ffffff4d,
        2168px 2546px #ffffff4d, 3203px 2255px #ffffff4d, 631px 2513px #ffffff4d,
        1335px 3318px #ffffff4d, 148px 2571px #ffffff4d, 2144px 1418px #ffffff4d,
        1400px 1282px #ffffff4d, 736px 652px #ffffff4d, 2085px 2511px #ffffff4d,
        1782px 1895px #ffffff4d, 3226px 2205px #ffffff4d, 562px 772px #ffffff4d,
        3079px 584px #ffffff4d, 101px 314px #ffffff4d, 1440px 3275px #ffffff4d,
        2240px 1626px #ffffff4d, 1201px 1639px #ffffff4d, 598px 781px #ffffff4d,
        1266px 2360px #ffffff4d, 820px 2478px #ffffff4d, 1157px 1323px #ffffff4d,
        3430px 3116px #ffffff4d, 2090px 3345px #ffffff4d,
        2913px 3072px #ffffff4d, 200px 3281px #ffffff4d, 2253px 3490px #ffffff4d,
        1017px 853px #ffffff4d, 1338px 1367px #ffffff4d, 2574px 2887px #ffffff4d,
        856px 2414px #ffffff4d, 1255px 2758px #ffffff4d, 2019px 2260px #ffffff4d,
        3111px 2290px #ffffff4d, 848px 2565px #ffffff4d, 1098px 2497px #ffffff4d,
        3457px 1484px #ffffff4d, 1624px 2181px #ffffff4d, 3335px 260px #ffffff4d,
        424px 2140px #ffffff4d, 4px 3187px #ffffff4d, 932px 1638px #ffffff4d,
        228px 304px #ffffff4d, 474px 1221px #ffffff4d, 360px 1421px #ffffff4d,
        298px 2498px #ffffff4d, 3203px 929px #ffffff4d, 614px 1768px #ffffff4d,
        2347px 2550px #ffffff4d, 1488px 1906px #ffffff4d,
        2306px 2566px #ffffff4d, 185px 3278px #ffffff4d, 2159px 1926px #ffffff4d,
        1504px 5px #ffffff4d, 1496px 152px #ffffff4d, 1249px 2323px #ffffff4d,
        192px 3366px #ffffff4d, 1545px 1377px #ffffff4d, 86px 155px #ffffff4d,
        673px 1631px #ffffff4d, 2997px 1259px #ffffff4d, 1639px 1143px #ffffff4d,
        2013px 422px #ffffff4d, 529px 602px #ffffff4d, 2410px 424px #ffffff4d,
        82px 2281px #ffffff4d, 1430px 932px #ffffff4d, 295px 2212px #ffffff4d;
}

.background {
    position: fixed;
}

.main-sider-layout {
    min-width: 100vw;
}

.centered-list :not(:first-child):not(:last-child) * {
    justify-content: center;
}
