html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 16px;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    word-break: normal;
}

body,
html {
    touch-action: pan-x pan-y;
}
*,
:after,
:before {
    background-repeat: no-repeat;
    box-sizing: inherit;
}

:after,
:before {
    text-decoration: inherit;
    vertical-align: inherit;
}

* {
    padding: 0;
    margin: 0;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    padding-top: 30px;
    gap: 30px 20px;
}

.card_price {
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
}

.card_buttons {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 20;
}

.book_modal {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card_title {
    margin-top: 20px;
    max-width: 80%;
    white-space: normal;
}

.textTitle {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    box-orient: vertical;
}

.cardTitle {
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    margin-top: 8px;
    overflow: hidden;
    word-break: break-all;
    font-size: 0.875rem !important;
    font-weight: 500;
    letter-spacing: 0.0071428571em !important;
    line-height: 1.375rem;
}

.text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    line-clamp: 4;
    box-orient: vertical;
}

.calendar-card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-clamp: 3;
    box-orient: vertical;
}

.calendar-card-text-drawer {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    box-orient: vertical;
}

.antd {
    backface-visibility: hidden;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    max-width: 100%;
    min-height: 100vh;
    position: relative;
}
.header {
    height: 64px;
    margin-top: 0px;
    transform: translateY(0px);
    left: 0px;
    right: 0px;
}
.v-toolbar__content {
    align-items: center;
    display: flex;
    position: relative;
    z-index: 0;
    height: 64px;
    padding: 4px 16px;
}

.v-application .d-flex {
    display: flex !important;
}

.v-application .align-center {
    align-items: center !important;
}

.grow,
.spacer {
    flex-grow: 1 !important;
}

.content {
    align-items: center;
    align-self: center;
    display: flex;
    flex: 1 1;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 12px 0;
}

.image_content {
    height: 90px;
    min-width: 40px;
    width: 64px;
    font-size: 64px;
}

:disabled {
    cursor: default !important;
}
.tag {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}
.tag:hover {
    background-color: rgba(0, 0, 0, 0.3) !important;
}

::-webkit-scrollbar {
    background: #212121;
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background: #de1eb2;
    border-radius: 10px;
}

input,
.searchInput {
    cursor: pointer;
}

.ant-skeleton-element {
    display: grid !important;
}

.loading::after {
    content: "";
    height: 3px; /* толщина линии */
    width: 100%;
    background-image: linear-gradient(to right, #de1eb2 50%, transparent 50%);
    background-size: 200% 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: moveLine 1s linear infinite; /* скорость и повторение анимации */
}

@keyframes moveLine {
    from {
        background-position: 100%;
    }
    to {
        background-position: 0;
    }
}
.ant-input-affix-wrapper {
    z-index: inherit !important;
}

.container {
    padding: 30px;
    min-height: 100%;
}
.container.detail {
    padding: 0px 0px 30px 0px !important;
}

.ant-flex {
    display: flex !important;
}

.ant-menu-horizontal,
.ant-menu-item::after,
.ant-menu-submenu::after {
    border: none !important;
}
.ant-card-body {
    height: 100%;
    padding: 0 !important;
}

.lightTheme .searchpage-input .input-label {
    background-color: #ffffff !important;
}

.lightTheme .searchpage-input .input-label.focus {
    color: red !important;
}

.darkTheme .searchpage-input .input-label {
    color: hsla(0, 0%, 100%, 0.7) !important;
    background-color: #0f0f0f !important;
}

.darkTheme .searchpage-input .input-label.focus {
    color: #de1eb2 !important;
}

.lightTheme .shikimoripage-input .input-label {
    background-color: #ffffff !important;
}

.lightTheme .shikimoripage-input .input-label.focus {
    color: red !important;
}

.darkTheme .shikimoripage-input .input-label {
    color: hsla(0, 0%, 100%, 0.7) !important;
    background-color: #141414 !important;
}

.darkTheme .shikimoripage-input .input-label.focus {
    color: #de1eb2 !important;
}

.darkTheme .emptyview {
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #de1eb2;
}

.lightTheme .emptyview {
    padding: 20px;
    border-radius: 5px;
    border: 1px solid yellow;
}
.ant-image-img {
    border-radius: 5px;
}
