html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 16px;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    word-break: normal;
}

body,
html {
    background: #0f0f0f;
    touch-action: pan-x pan-y;
}
*,
:after,
:before {
    background-repeat: no-repeat;
    box-sizing: inherit;
}

:after,
:before {
    text-decoration: inherit;
    vertical-align: inherit;
}

* {
    padding: 0;
    margin: 0;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    padding-top: 30px;
    gap: 30px 20px;
}

.card_price {
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
}

.card_buttons {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 20;
}

.book_modal {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card_title {
    margin-top: 20px;
    max-width: 80%;
    white-space: normal;
}

.textTitle {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    box-orient: vertical;
}

.cardTitle {
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-weight: 500;
    letter-spacing: 0.0071428571em !important;
    line-height: 1.375rem;
    font-family: Nunito, sans-serif !important;
    overflow: hidden;
    word-break: break-all;
}

.text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    line-clamp: 4;
    box-orient: vertical;
}

.antd {
    backface-visibility: hidden;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    max-width: 100%;
    min-height: 100vh;
    position: relative;
}
.header {
    height: 64px;
    margin-top: 0px;
    transform: translateY(0px);
    left: 0px;
    right: 0px;
}
.v-toolbar__content {
    align-items: center;
    display: flex;
    position: relative;
    z-index: 0;
    height: 64px;
    padding: 4px 16px;
}

.v-application .d-flex {
    display: flex !important;
}

.v-application .align-center {
    align-items: center !important;
}

.grow,
.spacer {
    flex-grow: 1 !important;
}

.content {
    align-items: center;
    align-self: center;
    display: flex;
    flex: 1 1;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 12px 0;
}

.image_content {
    height: 90px;
    min-width: 40px;
    width: 64px;
}

:disabled {
    cursor: default !important;
}
.tag {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

::-webkit-scrollbar {
    background: #212121;
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background: #de1eb2;
    border-radius: 10px;
}

input,
.searchInput {
    cursor: pointer;
}

.ant-skeleton-element {
    display: grid !important;
}

@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

:root {
    --clr-1: #0f0f0f;
    --clr-2: #de1eb2;
}

.loading {
    background: #0f0f0f;
    border-radius: 5px;
    position: relative;
}

.loading::before,
.loading::after {
    content: "";
    position: absolute;
    inset: -0.05rem;
    z-index: -99;
    background: conic-gradient(
        from var(--gradient-angle),
        var(--clr-1),
        var(--clr-1),
        var(--clr-2)
    );
    border-radius: inherit;
    animation: rotation 2.5s linear infinite;
}

@keyframes rotation {
    0% {
        --gradient-angle: 0deg;
    }
    100% {
        --gradient-angle: 360deg;
    }
}

.container {
    min-height: 100%;
}

.ant-flex {
    display: flex !important;
}
