.title {
    font-size: 20px;
    display: -webkit-box;
    overflow: hidden;
    line-clamp: 4;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
@media (max-width: 992px) {
    .title {
        font-size: 16px;
    }
}

.card {
    padding-block: 15px;
    padding-inline: 20px;
}
