.first-level {
    font-size: 24px;
    font-weight: 600;
}

.second-level {
    margin-left: 30px;
    font-weight: 600;
    font-size: 20px;
    list-style-type: disc;
}

.subtitle {
    font-size: 20px;
    margin-block: 10px;
}
