.link-button {
    font-weight: 700;
    padding-inline: 15px;
}

.empty-view {
    justify-content: center;
    text-align: center;
}

.empty-view-icon {
    vertical-align: middle;
}

.avatar-picker-icon {
    font-size: 30px;
}

.avatar-picker-image {
    display: none;
}

.safe-mode-icon {
    cursor: help;
}

.highlight-line {
    margin-top: 3px;
    height: 1.5px;
}

.series-group-card {
    border-radius: 0;
    text-align: center;
    padding: 0;
    margin: 0;
}

.absolute-image {
    pointer-events: none;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    border-radius: 10px;
    justify-content: flex-end;
}

.absolute-image-filter {
    filter: contrast(150%) brightness(50%) opacity(90%);
}
